@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}


/* Header */

.header__container {
  max-width: 1920px;
  max-height: 64px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  margin: 0 0 12px;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 4px 0 0;
  font-size: 14px;
}

.logo {
  color: #1a1b1c;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  margin: 0 8px 0 0;
  padding: 8px 16px;
}

.intro {
  color: #1a1b1c83;
  font-weight: 600;
  opacity: 0.7;
  margin: 0 6px;
}

.enter__code-btn {
  color: #fcfcfc;
  background-color: #1a1b1c;
  margin: 0 16px;
  padding: 8px 16px;
  font-size: 10px;
}

.enter__code-btn:hover {
  background-color: #1a1b1c83;
  cursor: pointer;
}

/* Home */

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}

.title__row {
  width: 680px;
  height: 240px;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.7px;
  text-align: center;
  color: #1a1b1c;
  transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
}

.diamond {
  position: fixed;
  top: 50%;
  width: 602px;
  height: 602px;
  background: transparent;
  border: 1px dotted #1a1b1c;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
  pointer-events: none; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond--left {
  left: -301px;
}

.diamond--right {
  right: -301px;
}

.diamond-btn {
  transform: rotate(-45deg); 
  background: #fff;
  border: none;
  border-radius: 24px;
  padding: 16px 32px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn--left {
  position: fixed;
  top: 50%;
  left: 80px; 
  transform: translateY(-50%);
  z-index: 2;
}

.btn--right {
  position: fixed;
  top: 50%;
  right: 80px; 
  transform: translateY(-50%);
  z-index: 2;
}

.diamond-btn:hover {
  background: #fff;
}

.main-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 64px); 
  padding: 0 20px;
}

.left__container,
.right__container {
  transition: opacity 0.4s;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.move-right {
  transform: translateX(300px); /* Adjust as needed */
}

.move-left {
  transform: translateX(-300px); /* Adjust as needed */
}


/* Test Page */

.sub__title {
  Position: absolute;
  width: 227px;
  height: 24px;
  top: 86px;
  left: 32px;
  color: #1a1b1c;
  size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}

.rombuses {
  position: absolute;
  width: 762px;
  height: 762px;
  top: 96px;
  left: 579px;
  border: 2px;
  display: flex;
  align-items: center;
}

.type__text {
  position: absolute;
  width: 120px;
  height: 24px;
  top: 422px;
  left: 905px;
  opacity: 40%;
  color: #1a1b1c;
  size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.input__name {
  position: absolute;
  width: 420px;
  height: 65px;
  top: 448px;
  left: 750px;
  color: #1a1b1c;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -7%;
  text-align: center;
  border: none;
  border-bottom: 2px solid #1a1b1c;
  background: transparent;
  outline: none;
}

.back__btn {
  position: absolute;
  cursor: pointer;
  width: 97px;
  height: 44px;
  top: 880px;
  left: 32px;
  gap: 16px;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
}

.proceed__btn {
  position: absolute;
  cursor: pointer;
  width: 123px;
  height: 44px;
  top: 880px;
  left: 1765px;
  gap: 16px;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
}

/* Choice Page */

.gallery__btn {
  position: absolute;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  width: 488px;
  height: 482px;
  top: 240px;
  left: 1193px;
}

.camera__btn {
  position: absolute;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  width: 520px;
  height: 482px;
  top: 240px;
  left: 239px;
}

.loading__choice {
  position: absolute;
  width: 739px;
  height: 739px;
  top: 111px;
  left: 590px;
  color: #d9d9d9;
}

.loading__text {
  position: absolute;
  width: 227px;
  height: 24px;
  top: 468px;
  left: 846px;
  font-weight: 600;
  size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}

/* Analysis Page */

.analysis__rombuses {
  position: absolute;
  width: 762px;
  height: 762px;
  top: 99px;
  left: 579px;
  border: 2px;
  display: flex;
  align-items: center;
}

.analysis__choice--container {
  position: absolute;
  width: 313px;
  height: 313px;
  top: 323px;
  left: 805px;
  rotate: 45deg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px; 
  padding: 2px; 
}

.analysis__btn {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  transition: background 0.2s;
}

.analysis__btn:hover {
  background: #e0e0e0;
}

.analysis__btn--txt {
  rotate: -45deg;
  font-weight: 600;
  size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.analysis__subheader {
  position: absolute;
  width: 227px;
  height: 24px;
  top: 86px;
  left: 32px;
  color: #1a1b1c;
  size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}

.analysis__para--CONTAINER {
  position: absolute;
  width: 336px;
  height: 48px;
  top: 118px;
  left: 32px;
  font-weight: 400;
  size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}

.summary__btn {
  position: absolute;
  cursor: pointer;
  width: 155px;
  height: 44px;
  top: 880px;
  left: 1733px;
  gap: 16px;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
}

/* Demographics Page */

.demo__title {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 505px;
  max-height: 64px;
  top: 115px;
  left: 29px;
  font-weight: 400;
  size: 72px;
  line-height: 64px;
  letter-spacing: -6%;
}

.demo__sub--title {
  position: absolute;
  width: 227px;
  height: 24px;
  top: 190px;
  left: 32px;
  font-weight: 400;
  size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}

.btn__selection--race {
  top: 304px;
  background-color: #d9d9d9;
}

.btn__selection--age {
  top: 416px;
  background-color: #d9d9d9;
}

.btn__selection--sex {
  top: 528px;
  background-color: #d9d9d9;
}

.btn__selection--race,
.btn__selection--age,
.btn__selection--sex {
  position: absolute;
  width: 208px;
  height: 104px;
  left: 32px;
  cursor: pointer;
  border: none;
  border-top: #1a1b1c 2px solid;
}

.btn__selection--race:hover,
.btn__selection--age:hover,
.btn__selection--sex:hover {
  background-color: #bfbfbf;
  border-top: #d9d9d9 2px solid;
}

.race__text,
.age__text,
.sex__text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  margin: 0;
}

.race__value,
.age__value,
.sex__value {
  position: absolute;
  margin: 0;
  left: 16px;
  top: 16px;
  text-transform: uppercase;
}

.btn__selection--race.selected,
.btn__selection--age.selected,
.btn__selection--sex.selected {
  background-color: #1a1b1c;
  color: #fff;
  border-top: #fff 2px solid;
}

.btn__selection--race.selected .race__text,
.btn__selection--race.selected .race__value,
.btn__selection--age.selected .age__text,
.btn__selection--age.selected .age__value,
.btn__selection--sex.selected .sex__text,
.btn__selection--sex.selected .sex__value {
  color: #fff;
}

.list__container {
  position: absolute;
  width: 448px;
  height: 544px;
  top: 304px;
  left: 1440px;
  border: none;
  border-top: #1a1b1c 2px solid;
  background-color: #d9d9d9;
}

.list__item {
  width: 448px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 24px; 
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.list__item:hover {
  background-color: #bfbfbf;
}

.race-key {
  text-align: left;
}

.race-value {
  text-align: right;
}

.percentage__display--container {
  position: absolute;
  width: 1168px;
  height: 544px;
  top: 304px;
  left: 256px;
  border: none;
  border-top: #1a1b1c 2px solid;
  background-color: #d9d9d9;
}

.list__item.selected {
  background-color: #1a1b1c;
  color: #fff;
}

.list__item.selected .race-key,
.list__item.selected .race-value {
  color: #fff;
}

.display__text {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 20px;
  left: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -5%;
  text-transform: uppercase;
}

.display__value {
  position: absolute;
  width: 70px;
  height: 52px;
  top: 322px;
  left: 946px;
  font-weight: 600;
}

.circle__bg {
  position: absolute;
  width: 384px;
  height: 384px;
  top: 440px;
  left: 1024px;
}

.list__row {
  display: flex;
  padding: 16px 0;
}

.list__selection {
  position: relative;
  width: 41px;
  height: 24px;
  top: 10px;
  left: 10px;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #1a1b1c;
  text-transform: uppercase;
}

.list__confidence {
  position: relative;
  width: 126px;
  height: 24px;
  top: 10px;
  left: 270px;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #1a1b1c;
  text-transform: uppercase;
}

.warning__text {
  position: absolute;
  width: 340px;
  height: 24px;
  top: 894px;
  left: 821px;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #a0a4ab;
}

.reset__btn {
  position: absolute;
  width: 73px;
  height: 35px;
  top: 889px;
  left: 1703px;
  border: 1px solid #1a1b1c;
  padding: 9px 16px 10px 16px;
  gap: 8px;
  color: #1a1b1c;
  cursor: pointer;
  background-color: #fcfcfc;
  font-weight: 600;
}

.confirm__btn {
  position: absolute;
  width: 95px;
  height: 35px;
  top: 889px;
  left: 1793px;
  border: 1px solid #1a1b1c;
  padding: 9px 16px 10px 16px;
  cursor: pointer;
  color: #fcfcfc;
  background-color: #1a1b1c;
  font-weight: 600;
}